<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quitanda do Zé :: {{title}}</title>
    <link rel="shortcut icon" href="/static/img/produtos/quitanda.ico" type="image/x-icon">
    <!-- Link para Bootstrap - CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- Link para Bootstrap - Icon-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>
<body class="d-flex flex-column" style="min-height: 100vh;"> 
    <nav class="navbar navbar-expand-lg bg-warning shadow fs-4 mb-2">
        <div class="container">
            <i class="bi bi-shop-window text-black fw-bolder fs-3 me-3 "></i>
            <a class="navbar-brand text-black fw-bolder" href="#">
                <spam class="fw-bold fs-4">Quitanda do Zé</spam>
            </a>
            
            <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                data-bs-theme="dark"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active text-black-50 fw-semibold" aria-current="page" href="#">Principal</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-black-50 fw-semibold" aria-current="page" href="#">Quem somos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-black-50 fw-semibold" aria-current="page" href="#">Contatos</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input
                        class="form-control me-2"
                        type="search"
                        placeholder="Buscar"
                        aria-label="Search"
                    >
                    <button class="btn btn-danger" type="submit">Buscar</button>
                </form>
            </div>
        </div>
    </nav>
    <main class="flex-fill py-5">
        {% block conteudo %}
        {% endblock %}
   </main>     

<footer class="border-top bg-light shadow border-3 border-dark border-opacity-25">
    <div class="container">
        <div class="row py-2">
            <div class="col-12 col-md-4 text-center">
                &copy; 2023 - Quitanda do Zé LTDA-ME<br>
                Rua Érico Pimentel Dias, 187, Itapeva/SP
                <br>CNPJ 99.999.999/0001-99
            </div>
            <div class="col-12 col-md-4 text-center">
                Política de Privacidade<br>Termos de uso<br>Trocas e Devoluções
            <br>
            <a class="admin-area" href="/adm" class="text-decoration-none text-dark">
                Área administrativa
            </a>
            </div>
            <div class="col-12 col-md-4 text-center">
                Contato pelo Site<br>E-mail: contato@quitandadoze.com.br<br>Cel: (15) 99999-9999
                <br>
            </div>
        </div>
    </div>
</footer>

    <!-- Link para Bootstrap - JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>